/* this is NAV */
nav ul {
    text-align: center;
}
nav ul li{
    display: inline;
}

.header {
  
    display: flex;
    display: inline;
    justify-content: space-between;
    color: white;
}
body {
    background-image: url("https://www.spacex.com/static/images/backgrounds/splashdown_1.webp");
}

.background-image {
    background-size: cover;
    Height: 100%;
    Width: 100%;
}
