.header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /*color: white;*/
}
body {
    background-image: url("https://www.spacex.com/static/images/backgrounds/splashdown_1.webp");
}

.background-image {
    background-size: auto;
    Height: 100vh;
    Width: 100vh;
}
